.spacer {
    flex: 1 1 auto;
}

.profile-view {
    padding-top: 150px;
    padding-bottom: 0px;
    text-align: center;
}

.profile-view h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 60px;
}

.test {
    margin-right: 30px;
}