.spacer {
    flex: 1 1 auto;
}

.profile-view {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

.profile-view h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 60px;
}

.profile-view h2 {
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

.form__field {
    margin-bottom: 20px;
}

.cancel-button {
    margin-right: 20px;
}

.fav-movies {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fav-movies__movie {
    max-width: 300px;
    padding: 6px 8px;
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    border-radius: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.fav-movies__movie h3 {
    margin: 0;
    font-weight: bold;
}